
.bw-trip-historic-trip__card.mat-mdc-card[_ngcontent-server-app-c2932664550] {
  padding: 0;
  border: none;
}
.bwc .bwc-card-link .mat-mdc-card {
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}
.bwc .mat-mdc-card {
  padding: 16px;
  border: 1px solid #e9e9eb;
  border-radius: 8px;
  color: #051039;
}
.mat-mdc-card {
  position: relative;
}
.mat-mdc-card {
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: var(--mdc-elevated-card-container-color);
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color);
  box-shadow: var(--mdc-elevated-card-container-elevation);
}
.mdc-card {
  display: flex
;
  flex-direction: column;
  box-sizing: border-box;
}